<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DataModel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>KNURE TimeTable.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NureColorsModel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>ScheduleModel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Today schedule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>842DD2B71D410A7F00E802B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>842F54441D620108004A6FAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>842F545A1D626DA8004A6FAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>847776201C63945C000776B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>847776341C63945D000776B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
